html,body {
    height:100%;
    width:100%;
}

body {
    font-family: 'Lobster', cursive;
    color:white;
    /*background: url(../images/beer1.jpg) no-repeat center center;*/
    background-size: 75%;/**/
    background-color: black;
}

header h1 {
    font-size:5em;
    text-shadow: 2px 2px #ff0000;
}

.padding {
    padding:20rem 0 0 0;
}

.jumbotron {
    background-size:100%;
    background-color:black;
    /*background: url(../images/beer1.jpg) no-repeat center center;*/
    height:100%;
}

#game-start {
    padding:3rem 0;
    font-size:3em;
    text-shadow: 2px 2px #ff0000;
}

h2 #attempts-remaining {
    text-align:center;
    font-family:'Sans Serif';
}

.winResult, .loseResult {
    font-size:3em;
}

.winResult {
    text-shadow: 2px 2px green;
}

.loseResult {
    text-shadow: 2px 2px #666;
}

.card {
    color: black;
    font-family: 'Roboto', sans-serif;
    max-width: 30rem;
    width:95%;
    border:2px yellow dotted;
    /*box-shadow: 2px 2px #ff0000;*/
}



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    
    header h1 {
        font-size:2rem;
        color:yellow;
    }
    
    #game-start {
        font-size:1.5rem;
    }

    .winResult, .loseResult {
        font-size: 1em;
    }

    #attempts-remaining {
        font-size:.5em;
    }

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    
    header h1 {
        font-size:3rem;
        color:yellow;
    } 
    
    #game-start {
        font-size:2rem;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
    header h1 {
        font-size:4rem;
        color:yellow;
    }
    
    #game-start {
        font-size:3rem;
    }

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 1050px) {
    header h1 {
        font-size:5em;
        color:yellow;
    }
    
    #game-start {
        font-size:3rem;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}