html,body {
    height:100%;
    width:100%;
}

body {
    font-family: 'Lobster', cursive;
    color:white;
    background: url(../images/beer1.jpg) no-repeat center center;
    background-size: 100%;
}

header h1 {
    font-size:5em;
    text-shadow: 2px 2px #ff0000;
}

.padding {
    padding:20rem 0 0 0;
}

#game-start {
    padding:3rem 0;
    font-size:3em;
    text-shadow: 2px 2px #ff0000;
}

h2 #attempts-remaining {
    text-align:center;
    font-family:'Sans Serif';
}

.result {
    text-shadow: 2px 2px #000000;
}

.card {
    color: black;
    font-family: 'Roboto', sans-serif;
    width: 30rem;
}